.git
.gitignore
.gitattributes
.idea
.vscode
*.iml
**/node_modules
**/dist
**/.angular
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
**/bin
**/obj
**/TestResults
**/coverage
*.trx
.env
.env.*
!.env.example
.DS_Store
Thumbs.db
README.md
