.DS_Store
Thumbs.db
.idea/
*.iml
*.iws
*.ipr
out/
.vscode/
.env
.env.*
!.env.example
**/node_modules/
**/dist/
**/out/
**/.angular/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.angular/
**/bin/
**/obj/
*.user
*.suo
TestResults/
**/TestResults/
coverage/
*.trx
*.nupkg
*.snupkg
.devcontainer/.env
docker-data/
