@keyframes alert-in {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes alert-out {
  0% {
    opacity: 1;
    transform: translateX(0%);
  }

  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}

@keyframes alert-timer {
  from {
    width: 100%;
  }

  to {
    width: 0%;
  }
}

.alert-enter {
  animation: alert-in 300ms ease-out;
}

.alert-exit {
  animation: alert-out 300ms ease-in forwards;
}

.alert-timer {
  width: 100%;
  animation-name: alert-timer;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
