<div class="w-md max-w-[90vw] max-h-[90vh] min-h-[55vh] px-4 py-4 flex flex-col justify-between bg-linear-to-br from-mist-800/60 via-mist-950/60 to-mist-800/60 backdrop-blur-xs border border-mist-400/40 rounded-xl shadow-black/50 shadow-md">
  @if (displayForm() === "Login") {
    <app-login-form />
    <span class="w-full flex justify-center items-center gap-4 text-mist-300">
      Don't have an account? 
      <a class="text-violet-300/80 hover:text-violet-300 font-bold cursor-pointer" (click)="showSignup()">Sign Up</a>
    </span>
  }
  @if (displayForm() === "Signup") {
    <app-signup-form />
    <span class="w-full flex justify-center items-center gap-4 text-mist-300">
      Already have an account? 
      <a class="text-violet-300/80 hover:text-violet-300 font-bold cursor-pointer transition-color duration-200" (click)="showLogin()">Sign In</a>
    </span>
  }
</div>
